

main,header,footer {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    @media all and (max-width: 767px) {
        width: 100%;
    }

    li{
        list-style-type: none;
        padding: 2px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    img {
        text-align: center;
    }

    a{
        color: dimgray !important;
    }
}

footer{
    float: none;
    clear: both;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 30px;
    text-align: center;
    @media all and (max-width:1090px){
        padding-top: 5px;
    }

    div{
        border-top: 1px solid gray;
        padding-top:8px;
    }
}

#modal{
    overflow: auto;
    background-color: rgba(0,0,0,0);
    margin:5px auto;
    width:160px;
    height: 32px;

    .loader{
        position:relative;
        transition:0.3s;
        display:none;
    }

}