

main,header,footer {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    @media all and (max-width: 767px) {
        width: 100%;
    }

    li{
        list-style-type: none;
        padding: 2px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    img {
        text-align: center;
    }
}