@import "../Helpers/_baseHelper.scss";

.navbar{
    margin-bottom: 10px;;
}

.navbar-default{
    border: none;
    background-color: $noColor;
    
    .navbar-header{
        float:left;
        @media all and (min-width: 768px){
            
        }

        .navbar-toggle{
            border: none;
            @media all and (min-width: 768px){
                
            }
        }
    }

    .navbar-collapse{
        border: none;

        .nav.navbar-nav{
            @media all and (min-width: 768px){
                
            }
            
            .menuName{
                padding:10px !important;
                cursor:pointer;
                color:dimgray;
                @media all and (min-width: 768px){
                    display: inline-block;
                    float:none;
                }
                &:hover{
                    color: gray;
                }
            }
        }
    }
}