
@font-face{
    font: gillsans;
    font-family: url('../Resaurce/Fonts/GillSans.ttc');
}

@font-face{
    font:gillsans-light;
    font-family: url('../Resaurce/Fonts/gillsans-light.ttf');
}

@font-face{
    font:helvetica-light;
    font-family: url('../Resaurce/Fonts/HelveticaNeue-UltraLight.otf');
}