
@font-face{
    font: gillsans;
    font-family: url('../Resaurces/Fonts/GillSans.ttc');
}

@font-face{
    font:gillsans-light;
    font-family: url('../Resaurces/Fonts/gillsans-light.ttf');
}

@font-face{
    font:helvetica-light;
    font-family: url('../../Resaurces/Fonts/HelveticaNeue-UltraLight.otf');
}